*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

// Default font types
.ribeye-regular {
  font-family: "Ribeye", serif;
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Ribeye", serif;
  background-color: #f9f9f9;
  color: #333;
  line-height: 1.6;
}


